colorlog==6.10.1
pip>=21.3.1
ruff==0.15.22
mypy==2.3.0
numpy==2.3.2

homeassistant==2026.4.1
home-assistant-frontend==20260325.8
homeassistant-stubs==2026.4.1
pytest-homeassistant-custom-component==0.13.322
